{% extends "layout_page_2col.html" %}
{% block page_content %}
<div>
    <h1>Последние новости</h1>
    {% if news|length > 0 %}
      {% for item in news %}
        <div class="newsItem" id="newsItem{{ item.id }}">
            <h2>{{ item.title }}</h2>
            <div class="news_short">
                {{ item.text_short|raw }}
                <br />
                <a class="newsMore" href="/news/{{ item.id }}.html">Читать полностью</a>
            </div>
            <!--<p class="newsDate">{{ item.date }}</p>-->
        </div>
    {% endfor %} 
    {% else %}
        <h2>Пока никаких новостей :)</h2>
    {% endif %}
</div>
{% endblock %}