<a href="/guest.html" class="headLink colored"><h2 class="colored">Отзывы о кавер группе AmsterDam</h2></a>
<div class="recordsTable">
    {% for record in records %}
        <div class="guestrecord">
            <p class="text guestname">
                <span class="colored">{{ record.username }}</span>&nbsp;
                <span class="timestamp">({{ record.time }})&nbsp;написал(а):</span>
            </p>
            <p class="text guestmessage">{{ record.text|raw }}</p>
        </div>
    {% endfor %}
    <p class="text" style="text-align: center"><strong><a href="/guest.html">Просмотреть все отзывы о кавер-группе AmsterDam</a></strong></p>
</div>